.MessageContainer {
  font-size: small;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  overflow: hidden;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.07);
  z-index: 10000;
  box-shadow: 0px 7px 10px 0 #00000005;
}

.ChatBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', 'sans-serif';
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(182, 182, 182, 0.6);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.ChatBar:hover {
  cursor: all-scroll;
}

.LeaveButton {
  background: none;
  appearance: none;
  background: nonw;
  padding: 5px;
  width: 26px;
  height: 26px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.ChatWindow {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  width: 250px;
  overflow-y: scroll;
  border: none;
  padding: 10px;
}

.ChatWindow::-webkit-scrollbar {
  display: none;
}

.ChatWindow::-webkit-scrollbar-track {
  background-color: transparent;
}

.ChatWindow::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.MessageWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 47px;
}

.Message {
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 16;
}

.MessageContent {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.User_Time {
  font-family: 'Inter', 'sans-serif';
  font-size: 12px;
  color: #aaa;
  margin-bottom: 5px;
}

.ChatInputWrapper {
}

.ChatInput {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  word-wrap: break-word;
}

.MessageInput {
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.05);
  text-shadow: 0 0 0 #000;
  border: none;
  outline: none;
  font-family: 'Inter', 'sans-serif';
  border-radius: 2px;
}

.MessageInput::placeholder {
  color: currentColor;
  font-weight: 300;
  font-size: 13px;
}

.SendButton {
  background-color: rgb(255 255 255 / 6%);
  border-radius: 2px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  font-family: 'Inter', 'sans-serif';
  font-weight: 700;
  font-size: 13.3px;
}
